In [9]:
import pandas as pd
dataset=pd.read_csv("50_Startups.csv")

#Perform one hot encoding by using get_dummies function in panda library
dataset=pd.get_dummies(dataset, drop_first=True)

#Get the column names to create input and out put variable
#dataset.columns
independent=dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]
dependent=dataset[['Profit']]

In [14]:
#Split into training set and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)
x_train

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
7   130298.13       145530.06        323876.68              1               0
14  119943.24       156547.42        256512.92              1               0
45    1000.23       124153.04          1903.93              0               1
48     542.05        51743.15             0.00              0               1
29   65605.48       153032.06        107138.38              0               1
15  114523.61       122616.84        261776.23              0               1
30   61994.48       115641.28         91131.24              1               0
32   63408.86       129219.61         46085.25              0               0
16   78013.11       121597.55        264346.06              0               0
42   23640.93        96189.63        148001.11              0               0
20   76253.86       113867.30        298664.47              0               0
43   15505.73       127382.30         35534.17              0               1
8   120542.52       148718.95        311613.29              0               1
13   91992.39       135495.07        252664.93              0               0
25   64664.71       139553.16        137962.62              0               0
5   131876.90        99814.71        362861.36              0               1
17   94657.16       145077.58        282574.31              0               1
40   28754.33       118546.05        172795.67              0               0
49       0.00       116983.80         45173.06              0               0
1   162597.70       151377.59        443898.53              0               0
12   93863.75       127320.38        249839.44              1               0
37   44069.95        51283.14        197029.42              0               0
24   77044.01        99281.34        140574.81              0               1
6   134615.46       147198.87        127716.82              0               0
23   67532.53       105751.03        304768.73              1               0
36   28663.76       127056.21        201126.82              1               0
21   78389.47       153773.43        299737.29              0               1
19   86419.70       153514.11             0.00              0               1
9   123334.88       108679.17        304981.62              0               0
39   38558.51        82982.09        174999.30              0               0
46    1315.46       115816.21        297114.46              1               0
3   144372.41       118671.85        383199.62              0               1
0   165349.20       136897.80        471784.10              0               1
47       0.00       135426.92             0.00              0               0
44   22177.74       154806.14         28334.72              0               0

In [27]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
#y=W*x1+b0 for this equation we got value for b1 and bo
regressor.fit(x_train, y_train)

#Viewing the b1 and b0 value
weight=regressor.coef_
#print("Weight of the model={}".format(weight))
print("Weight of the model",weight)
bias=regressor.intercept_
print("Intercept of the model={}".format(bias))

Weight of the model [[7.90840255e-01 3.01968165e-02 3.10148566e-02 4.63028992e+02
  3.04799573e+02]]
Intercept of the model=[42403.87087053]

In [28]:
y_pred=regressor.predict(x_test)

In [30]:
#Evaluate the model
from sklearn.metrics import r2_score
r_score=r2_score(y_test, y_pred)
r_score

0.9358680970046243

In [32]:
#Save the model
import pickle
filename="multiLR_final.sav"
pickle.dump(regressor, open(filename,"wb"))